/* --------------------------------------------------------------------------------------
ABOUT PAGE  
--------------------------------------------------------------------------------------*/
.about-body{
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    overflow: auto;
    margin: 0;
    text-align: center;
  }
  
  .about-image1 img{
    margin:10px;
  } 

.about-text{
  margin: 0;
  text-align: center;
  font-family: Mukta-Bold, sans-serif;
  color: #000000;
  text-decoration: none;
  border-width: 4px;
  border-style: solid;
  border-color : #629460;;
}

.about-titre{
  text-align: center;
  font-family: Mukta-Bold, sans-serif;
  font-size: 6vw;
  color: #629460;
  padding: 20px;
}

.about-box{
  background-color: #F4F3F2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 100vh;
  margin: 5px;
}