/* --------------------------------------------------------------------------------------
COUNTDOWN PAGE  
--------------------------------------------------------------------------------------*/

.countdown-body {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: inherit;
}

.countdown-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.box {
    background-color: #F4F3F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 40vh;
    margin: 5px;
}

.countdown-block:first-of-type>div:nth-child(1) {
    height: 40vh;
}

.countdown-image img {
    display: block;
    height: 100%;
}

.countdown-text {
    text-align: center;
    font-family: Mukta-Bold, sans-serif;
    font-size: 6vw;
    color: #629460;
    padding: 20px;
}