/* --------------------------------------------------------------------------------------
LOGIN PAGE  
--------------------------------------------------------------------------------------*/

.login-body {
    width: 100%;
<<<<<<< HEAD
    height: 80vh;
=======
    height: 100%;
>>>>>>> Serveur
    overflow: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.box {
    background-color: #F4F3F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 250px;
    max-width: 50%;
    margin: 20px;
    padding: 20px;
    font-size: 1.1em;
    color: #629460;
}

.login-body button {
    border: 0.2px solid #333;
    border-radius: 5px;
    font-family: Mukta-Bold;
    font-size: 1em;
    margin-top: 30px;
    color: #629460;
}

.login-body button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}