.mediaspage-body {
    width: 100%;
    height: auto;
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
=======
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
>>>>>>> Serveur
    grid-gap: 50px 100px;
    grid-auto-flow: row;
    padding: 10px;
    overflow: inherit;
}

.medias-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box {
    background-color: #F4F3F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
<<<<<<< HEAD
    min-width: 450px;
    margin: 5px;
}

@media screen and (max-width:500px) {
    .mediaspage-body {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
    .box {
        min-width: 250px;
    }
}


/***************************************************************************************
MEDIAS IMAGE AND VIDEO
****************************************************************************************/

=======
    min-width: 250px;
    margin: 5px;
}

>>>>>>> Serveur
.medias-image img {
    display: block;
    width: 100%;
    max-width: 450px;
    min-width: 250px;
}

.medias-video video {
    display: block;
    width: 100%;
    max-width: 450px;
    min-width: 250px;
<<<<<<< HEAD
}

@media screen and (max-width:500px) {
    .medias-image img {
        min-width: 200px;
        max-width: 250px;
    }
    .medias-video video {
        min-width: 200px;
        max-width: 250px;
    }
=======
>>>>>>> Serveur
}