/* --------------------------------------------------------------------------------------
NEWS PAGE 
--------------------------------------------------------------------------------------*/
.news-body{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    grid-gap: 50px 100px;
    grid-auto-flow: row;
    padding: 10px;
    overflow: inherit;
}
    
.news-block{
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    font-size: 1.25em;
}

.box{
    background-color: #F4F3F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 450px;
    max-width: 30%;
    margin: 5px;
}
    
/* --------------------------------------------------------------------------------------
NEWS IMAGE 
--------------------------------------------------------------------------------------*/

.news-image img{
    display: block;
    width: 100%;
}

/* --------------------------------------------------------------------------------------
NEWS TEXT
--------------------------------------------------------------------------------------*/

    
    