/* --------------------------------------------------------------------------------------
WALL PAGE
--------------------------------------------------------------------------------------*/
.wall-body{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
  grid-gap: 50px 100px;
  grid-auto-flow: row;
  padding: 10px;
  overflow: inherit;
}

.box{
  background-color: #F4F3F2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 450px;
  width: auto-fit;
  margin: 5px;
  font-size: 1.25em;
}
  
.wall-block{
  display: flex;
  flex-direction: column ;
  text-align: center;
  justify-self: center;
  align-self: flex-start;
  font-size: 1.25em;
}
  

.wall-body:first-of-type>div:nth-child(1){
  min-width: 300px;
}
  
/***************************************************************************************
WALL IMAGE
****************************************************************************************/
  
.wall-icon img{
  margin-top: 5px;
  width: 50%;
}
.wall-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: row wrap;
}
  
.wall-graph img{
  display: block;
  width: 100%;
}

img{
  max-width: 450px;
}
  