/* --------------------------------------------------------------------------------------
WALL PAGE
--------------------------------------------------------------------------------------*/

.wall-body {
    width: 100%;
    height: auto;
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
=======
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
>>>>>>> Serveur
    grid-gap: 50px 100px;
    grid-auto-flow: row;
    padding: 10px;
    overflow: inherit;
}

.box {
    background-color: #F4F3F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
<<<<<<< HEAD
    min-width: 450px;
=======
    min-width: 250px;
>>>>>>> Serveur
    margin: 5px;
}

.wall-block {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: 1.25em;
    align-items: center;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}

.info img {
    padding: 5px;
}

<<<<<<< HEAD
@media screen and (max-width:500px) {
    .wall-body {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
    .box {
        min-width: 250px;
    }
}

=======
>>>>>>> Serveur

/***************************************************************************************
WALL IMAGE
****************************************************************************************/

img {
    max-width: 450px;
}

.chart {
    display: block;
    width: 100%;
<<<<<<< HEAD
    max-width: 450px;
    height: 300px;
}

@media screen and (max-width:500px) {
    img {
        max-width: 250px;
        max-height: 50px;
    }
    chart {
        max-width: 200px;
    }
=======
    min-width: 200px;
    max-width: 450px;
    height: 300px;
>>>>>>> Serveur
}