<!-- PARTIAL VIEW OF COUNTDOWN -->
<div class="countdown-block">
        <div class="countdown-text">
            Journée Portes Ouvertes
            <div id="countdown-display">
            </div>
            <script>
                countDown("May 30 11:00:00 2019","countdown-display");
            </script>
        </div>
    </div>