<!-- PARTIAL VIEW OF COUNTDOWN -->
<div class="countdown-block">
        <div class="countdown-image box">
            <img class="mur" src="/images/news1.jpg"/>
        </div> 
        <div class="countdown-text box">
            Journée Portes Ouvertes
            <div id="countdown-display">
            </div>
            <script>
                countDown("May 30 11:00:00 2019","countdown-display");
            </script>
        </div>
    </div>