<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mur_Vegetal</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("heads", required: false)
</head>
<body>
    <div class="navbar">
            <a asp-page="/Index">Accueil</a>
            <a asp-page="/Wall">Mur Vegetal</a>
            <a asp-page="/News">Informations</a>
            <a asp-page="/Medias">Photos/Vidéos</a>
            <a asp-page="/Countdown">Compte à rebours</a>
            <a asp-page="/Socialnetworks">Réseaux Sociaux</a>
            <a asp-page="/About">À Propos</a>
            <a style="float:right" asp-page="/Admin">Admin</a>
    </div>
    <div class="main-body">
        @RenderBody()
    </div>
</body>
</html>
