<!-- PARTIAL VIEW OF MEDIAS -->

<div class="medias-block">
  <div class="medias-image box">
<<<<<<< HEAD
    <img src="~/images/mur-resized.jpg" alt="mur"/>
=======
    <img src="/images/mur-resized.jpg" alt="mur"/>
>>>>>>> Serveur
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
<<<<<<< HEAD
    <img src="~/images/news1.jpg" alt="news1">
=======
    <img src="/images/news1.jpg" alt="news1">
>>>>>>> Serveur
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
<<<<<<< HEAD
    <img src="~/images/news2.jpg" alt="news2">
=======
    <img src="/images/news2.jpg" alt="news2">
>>>>>>> Serveur
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
<<<<<<< HEAD
    <img src="~/images/news3.jpg" alt="news3">
=======
    <img src="/images/news3.jpg" alt="news3">
>>>>>>> Serveur
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
<<<<<<< HEAD
    <img src="~/images/news4.jpg" alt="news4">
=======
    <img src="/images/news4.jpg" alt="news4">
>>>>>>> Serveur
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
<<<<<<< HEAD
    <img src="~/images/graph1.jpg" alt="graph1">
=======
    <img src="/images/graph1.jpg" alt="graph1">
>>>>>>> Serveur
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
<<<<<<< HEAD
    <img src="~/images/murvege.jpg" alt="murvege">
=======
    <img src="/images/murvege.jpg" alt="murvege">
>>>>>>> Serveur
  </div>
</div>

<div class="medias-block">
  <div class="medias-video box"> 
<<<<<<< HEAD
    <video src="~/images/test.mp4" controls width="600" autoplay>
=======
    <video src="/images/test.mp4" controls width="600">
>>>>>>> Serveur
    </video>
  </div>
</div>