<!-- PARTIAL VIEW OF MEDIAS -->

<div class="medias-block">
  <div class="medias-image box">
    <img src="/web/images/mur-resized.jpg" alt="mur"/>
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
    <img src="/web/images/news1.jpg" alt="news1">
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
    <img src="/web/images/news2.jpg" alt="news2">
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
    <img src="/web/images/news3.jpg" alt="news3">
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
    <img src="/web/images/news4.jpg" alt="news4">
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
    <img src="/web/images/graph1.jpg" alt="graph1">
  </div>
</div>

<div class="medias-block">
  <div class="medias-image box">
    <img src="/web/images/murvege.jpg" alt="murvege">
  </div>
</div>

<div class="medias-block">
  <div class="medias-video box"> 
    <video src="/web/images/test.mp4" controls width="600">
    </video>
  </div>
</div>