<!-- PARTIAL VIEW OF WALL -->
<script>

  tab_temp = [
            {
                date: 1,
                value: 7
            },
            {
                date: 2,
                value: 10
            },
            {
                date: 3,
                value: 9
            },
            {
                date: 4,
                value: 22
            },
            {
                date: 5,
                value: 12
            },
            {
                date: 6,
                value: 14
            },
            {
                date: 7,
                value: 34
            },
            {
                date: 8,
                value: 43
            },
            {
                date: 9,
                value: 15
            },
            {
                date: 10,
                value: 8
            },
            {
                date: 11,
                value: 10
            },
            {
                date: 12,
                value: 19
            }
        ];

</script>

<div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="~/images/icones/thermo.png"/></div>
      <div class="temp-text">Température : 15°C </div>
    </div>
    <div class="chart temp-chart"> 
      <script>graph.lineChart("temp-chart", tab_temp, 0);</script>
    </div>
  </div>


  <div class="wall-block box">
    <div class="info">
      <div class="air-icon"><img class="i1" src="~/images/icones/air.png"/></div>
      <div class="air-text">Qualité de l'air : 20% </div>
    </div>
    <div class="chart air-chart"> 
      <script>graph.lineChart("air-chart", tab_temp, 1);</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="pression-icon"><img class="i1" src="~/images/icones/pression.png"/></div>
      <div class="pression-text">Commande pompe : ? </div>
    </div>
    <div class="chart pression-chart"> 
      <script>graph.lineChart("pression-chart", tab_temp, 1);</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="hydro-icon"><img class="i1" src="~/images/icones/hydro.png"/></div>
      <div class="hydro-text">Humidité : 20% </div>
    </div>
    <div class="chart hydro-chart"> 
      <script>graph.lineChart("hydro-chart", tab_temp, 1);</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="mouv-icon"><img class="i1" src="~/images/icones/mouvement.png"/></div>
      <div class="mouv-text">Flux entrant/sortant : ? </div>
    </div>
    <div class="chart mouv-chart"> 
      <script>graph.columnChart("mouv-chart", tab_temp);</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="pr-icon"><img class="i1" src="~/images/icones/pression_ruche.png"/></div>
      <div class="pr-text">Pression ruche : ? </div>
    </div>
    <div class="chart pr-chart"> 
      <script>graph.lineChart("pr-chart", tab_temp, 1);</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="tr-icon"><img class="i1" src="~/images/icones/thermo_ruche.png"/></div>
      <div class="tr-text">Température ruche : 22°C </div>
    </div>
    <div class="chart tr-chart"> 
      <script>graph.lineChart("tr-chart", tab_temp, 1);</script>
    </div>
  </div>