 @page
@model AboutModel
@{
    ViewData["Title"] = "À Propos";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/aboutpage.css")" rel="stylesheet" type="text/css" />
}

<div class="about-body">
    <div class="about-block">
            <div id="about-display">
            </div>
                <div class=about-image1>
                     <img src="~/images/LEO.jpg" height="50%" style="
                      height: 400px;
                      width: 1400px;">  
                      <div class ="about-box">
                      <div class="about-text">
                          <div class="about-titre">Cahier des charges
                          </div>
               Le cahier des charges se divise en deux parties, l’une traitera des demandes et attentes venant
du corps enseignant et l’autre des demandes et attentes du pôle communication de l’ISEN.<br>

Notre partie se base sur les demandes du pôle communication de l'ISEN c'est donc ici : <br>
<br>
— Afficher des photos et vidéos sur l’écran de l’accueil<br>
— Afficher des évènements sur l’écran de l’accueil<br>
— Afficher les photos Instagram de l’ISEN<br>
— Pouvoir programmer le temps d’affichage des données sur l’écran à l’avance<br>
— Pouvoir gérer le temps de défilement des images sur l’écran<br>
— Pouvoir gérer toutes les informations depuis leur téléphone<br>
<br>
                      </div>
                </div>
                
    </div>
</div>
</div>