@page
@model AdminModel
@{
    ViewData["Title"] = "Espace Administrateur";
}
@section heads{
  <link href="@Url.Content("~/css/adminpage.css")" rel="stylesheet" type="text/css" />
}


<div class="admin-body">

    <div class="passblock">
        <div class="pass">
            <div class="mdp">
            <label for="pass">Mot de passe: </label>
            </div>
            <input type="password" class="password" name="password">
            
        </div>
        <div class="connexion">
            <button class="bouton"> connexion </button>
        </div>
    </div>

</div>


    

