@page
@model IndexModel
@{
    ViewData["Title"] = "Espace Administrateur";
}
@section heads{
  <link href="@Url.Content("~/css/adminpage.css")" rel="stylesheet" type="text/css" />
}


<div class="adminpage-body">
    ADMIN
</div>


    

