@page
@model IndexModel
@{
    ViewData["Title"] = "Compte à rebours";
}
@section heads{
  <link href="@Url.Content("~/css/countdownpage.css")" rel="stylesheet" type="text/css" />
}


<div class="countdownpage-body">
    COUNTDOWN
</div>


    

