@page
@model CountdownModel
@{
    ViewData["Title"] = "Compte à rebours";
}
@section heads{
  <link href="@Url.Content("css/usersite/countdownpage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("js/countdown.js")"></script>
}

<div class="countdown-body">
    @{ Html.RenderPartial("_Countdown"); }
</div>