@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/homepage.css")" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="@Url.Content("~/js/countdown.js")"></script>
}

<div class="home-body">
    <div class="wall-box box">
        <div class="wall-info">
            <div class="wall-icon"><a href="~/Wall"> <img class="i1" src="~/images/icones/lumiere.png"/> </a></div>
            <div class="wall-text"><a href="~/Wall"> Luminosité </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="~/Wall"> <img class="i2" src="~/images/icones/air.png"/> </a></div>
            <div class="wall-text"><a href="~/Wall"> Qualité d'air </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="~/Wall"> <img class="i3" src="~/images/icones/pression.png"/> </a></div>
            <div class="wall-text"><a href="~/Wall"> Commande pompe </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="~/Wall"> <img class="i4" src="~/images/icones/hydro.png"/> </a></div>
            <div class="wall-text"><a href="~/Wall"> Humidité </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="~/Wall"> <img class="i5" src="~/images/icones/mouvement.png"/> </a></div>
            <div class="wall-text"><a href="~/Wall"> Flux entrant/sortant </a></div> 
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="~/Wall"> <img class="i6" src="~/images/icones/pression_ruche.png"/> </a></div>
            <div class="wall-text"><a href="~/Wall"> Pression ruche </a></div>  
        </div>
        <div class="wall-info">
            <div class="wall-icon"><a href="~/Wall"> <img class="i6" src="~/images/icones/thermo_ruche.png"/> </a></div>
            <div class="wall-text"><a href="~/Wall"> Température ruche </a></div>  
        </div>
    </div>

    <a href="~/News"><div class="news-box "> 
        <div class="news-image box">
        <img src="~/images/image1.jpeg"/>
         </div>
        <div class="news-text box">
        🕗 1ère matinale entreprises spéciale #PME et #ETI : présentation de notre offre de services, visites et perspectives de partenariats. 
        </div>   
    </div></a>

    <div class="socialnetworks-box box">
        <a href="~/Socialnetworks">
        <!-- SnapWidget -->
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="https://snapwidget.com/embed/698369" class="snapwidget-widget">
            </iframe>
        </a>
    </div>



    <div class="countdown-box box">
        <a href="~/Countdown">
        <div class="countdown-image box">
            <img class="mur" src="~/images/news1.jpg"/>
        </div> 
        <div class="countdown-text box">
            Journée Porte Ouverte
            <div id="countdown-display">
            </div>
            <script>
                countDown("May 30 11:00:00 2019","countdown-display");
            </script>
        </div>
        </a>
    </div>

    

</div>


<script type="text/javascript" src="@Url.Content("~/lib/tilt/tilt.jquery.js")"></script>
<script>
    $('.box').tilt({
    perspective: 2000,
    easing:         "cubic-bezier(.03,.98,.52,.99)"
    })
</script>
    

