@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}
@section heads{
  <link href="@Url.Content("~/css/homepage.css")" rel="stylesheet" type="text/css" />
}


<div class="frontpage-body">
    <div class="first-third">
        <div class="wall-box">
            WALL
        </div>
        <div class="countdown-box">
            COUNTDOWN  
        </div>
    </div>

    <div class="second-third">
        <div class="news-box">
            NEWS   
        </div>
    </div>

    <div class="third-third">
        <div class="socialnetworks-box">
            SOCIAL   
        </div>
    </div>
</div>


    

