@page
@model MediasModel
@{
    ViewData["Title"] = "Médias";
}
@section heads{
  <link href="@Url.Content("/css/usersite/mediaspage.css")" rel="stylesheet" type="text/css" />
}


<div class="mediaspage-body">
  @{ Html.RenderPartial("_Medias"); }
</div>


    

