@page
@model IndexModel
@{
    ViewData["Title"] = "Médias";
}
@section heads{
  <link href="@Url.Content("~/css/mediaspage.css")" rel="stylesheet" type="text/css" />
}


<div class="mediaspage-body">
    MEDIAS
</div>


    

