@page
@model IndexModel
@{
    ViewData["Title"] = "Informations";
}
@section heads{
  <link href="@Url.Content("~/css/newspage.css")" rel="stylesheet" type="text/css" />
}


<div class="newspage-body">
    NEWS
</div>


    

