@page
@model WallModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
<<<<<<< HEAD
  <link href="@Url.Content("~/css/usersite/wallpage.css")" rel="stylesheet" type="text/css" />
=======
  <link href="@Url.Content("/css/usersite/wallpage.css")" rel="stylesheet" type="text/css" />
>>>>>>> Serveur
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/spiritedaway.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<<<<<<< HEAD
  <script type="text/javascript" src="@Url.Content("~/js/graph.js")"></script>
}

<div class="wall-body">
  @{ Html.RenderPartial("_Wall"); }
=======
  <script type="text/javascript" src="@Url.Content("/js/graph.js")"></script>
}

<div class="wall-body">

  <div class="wall-block box">
    <div class="info">
      <div class="temp-icon"><img class="i1" src="/images/icones/thermo.png"/></div>
      <div class="temp-text">Température : 15°C </div>
    </div>
    <div class="chart temp-chart"> 
      <script>graph("temp-chart");</script>
    </div>
  </div>


  <div class="wall-block box">
    <div class="info">
      <div class="air-icon"><img class="i1" src="/images/icones/air.png"/></div>
      <div class="air-text">Qualité de l'air : 20% </div>
    </div>
    <div class="chart air-chart"> 
      <script>graph("air-chart");</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="pression-icon"><img class="i1" src="/images/icones/pression.png"/></div>
      <div class="pression-text">Commande pompe : ? </div>
    </div>
    <div class="chart pression-chart"> 
      <script>graph("pression-chart");</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="hydro-icon"><img class="i1" src="/images/icones/hydro.png"/></div>
      <div class="hydro-text">Humidité : 20% </div>
    </div>
    <div class="chart hydro-chart"> 
      <script>graph("hydro-chart");</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="mouv-icon"><img class="i1" src="/images/icones/mouvement.png"/></div>
      <div class="mouv-text">Flux entrant/sortant : ? </div>
    </div>
    <div class="chart mouv-chart"> 
      <script>graph("mouv-chart");</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="pr-icon"><img class="i1" src="/images/icones/pression_ruche.png"/></div>
      <div class="pr-text">Pression ruche : ? </div>
    </div>
    <div class="chart pr-chart"> 
      <script>graph("pr-chart");</script>
    </div>
  </div>

  <div class="wall-block box">
    <div class="info">
      <div class="tr-icon"><img class="i1" src="/images/icones/thermo_ruche.png"/></div>
      <div class="tr-text">Température ruche : 22°C </div>
    </div>
    <div class="chart tr-chart"> 
      <script>graph("tr-chart");</script>
    </div>
  </div>

>>>>>>> Serveur
</div> 

  