@page
@model IndexModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
  <link href="@Url.Content("~/css/wallpage.css")" rel="stylesheet" type="text/css" />
}


<div class="wallpage-body">
    WALL
</div>


    

