@page
@model WallModel
@{
    ViewData["Title"] = "Mur Vegetal";
}
@section heads{
  <link href="@Url.Content("~/css/usersite/wallpage.css")" rel="stylesheet" type="text/css" />
  <script src="//www.amcharts.com/lib/4/core.js"></script>
  <script src="//www.amcharts.com/lib/4/charts.js"></script>
}

<div class="wall-body">
  <div class="wall-block box">
    <div class="wall-info">
      <div class="wall-icon"><img class="i1" src="~/images/icones/thermo.png"/></div>
      <div class="wall-text">info1</div>
    </div>

    <div class="wall-info">
      <div class="wall-icon"><img class="i2" src="~/images/icones/hydro.png"/></div>
      <div class="wall-text">info2</div>
    </div>

    <div class="wall-info">
      <div class="wall-icon"><img class="i3" src="~/images/icones/mouvement.png"/></div>
      <div class="wall-text">info3</div>
    </div>

    <div class="wall-info">
      <div class="wall-icon"><img class="i4" src="~/images/icones/lumiere.png"/></div>
      <div class="wall-text">info4</div>
    </div>

    <div class="wall-info">
      <div class="wall-icon"><img class="i5" src="~/images/icones/pression.png"/></div>
      <div class="wall-text">info5</div>
    </div>

    <div class="wall-info">
      <div class="wall-icon"><img class="i6" src="~/images/icones/batterie.png"/></div>
      <div class="wall-text">info6</div>
    </div>
  </div>


  <div class="wall-block box">
    <div class="wall-graph">
      <img src="~/images/graph1.jpg"/>
    </div>  
  </div>

  <div class="wall-block box">
    <div class="wall-graph">
      <img src="~/images/murvege.jpg"/>
    </div>  
  </div>

  <div class="wall-block box">
    <div class="wall-graph">
      <img src="~/images/mur.jpg"/>
    </div>  
  </div>

  <div class="wall-block box">
    <div class="wall-graph">
      <img src="~/images/graph1.jpg"/>
    </div>  
  </div>
</div> 

  