/* --------------------------------------------------------------------------------------
Static screen  
--------------------------------------------------------------------------------------*/
@font-face{
  font-family: 'Mukta-Bold'; 
  src: url('/fonts/Mukta/Mukta-Bold.ttf'); 
}
@font-face{
  font-family: 'Mukta-ExtraBold'; 
  src: url('/fonts/Mukta/Mukta-ExtraBold.ttf'); 
}
@font-face{
  font-family: 'Mukta-ExtraLight'; 
  src: url('/fonts/Mukta/Mukta-ExtraLight.ttf'); 
}
@font-face{
  font-family: 'Mukta-Light'; 
  src: url('/fonts/Mukta/Mukta-Light.ttf'); 
}
@font-face{
  font-family: 'Mukta-Medium'; 
  src: url('/fonts/Mukta/Mukta-Medium.ttf'); 
}
@font-face{
  font-family: 'Mukta-Regular'; 
  src: url('/fonts/Mukta/Mukta-Regular.ttf'); 
}
@font-face{
  font-family: 'Mukta-SemiBold'; 
  src: url('/fonts/Mukta/Mukta-SemiBold.ttf'); 
}

.navbar{
    display: none;
}
body {
    background: #333;
  }
  
.staticscreen-body {
  max-width: 500px;
  margin: auto;
  background:#333;
  padding: 10px;
}
