/* --------------------------------------------------------------------------------------
WALL FRAME  
--------------------------------------------------------------------------------------*/

.wallpage-frame {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1, minmax(700px, auto));
    grid-template-rows: repeat(7, 12%);
    grid-gap: 50px 50px;
    grid-auto-flow: row;
    justify-items: center;
    padding: 10px;
    overflow: inherit;
    align-content: space-between;
}

.box {
    background-color: #F4F3F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 700px;
    max-height: 300px;
    margin: 5px;
}

.wall-block {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    align-items: center;
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}


/***************************************************************************************
  WALL IMAGE
  ****************************************************************************************/

.info img {
    padding: 5px;
}

img {
    max-width: 450px;
}

.chart {
    display: block;
    width: 100%;
    min-height: 180px;
}