/* --------------------------------------------------------------------------------------
WALL FRAME  
--------------------------------------------------------------------------------------*/

.wall-frame {
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(1, minmax(700px, auto));
    grid-template-rows: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 5px 50px;
    grid-auto-flow: row;
    justify-items: center;
    overflow: inherit;
    align-content: space-evenly;
}

.box {
    background-color: #F4F3F2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wall-block {
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    align-items: center;
    padding: 10px;
    max-height: 300px;
    min-width: 700px;
    margin: 0px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}


/***************************************************************************************
  WALL IMAGE
  ****************************************************************************************/

  .info img {
    padding: 5px;
    display: block;
}

.chart {
    display: block;
    width: 100%;
    min-height: 200px;
}
