@page
@model AdminModel
@{
    ViewData["Title"] = "Espace Administrateur";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
@section heads{
  <link href="@Url.Content("../css/usersite/admin/admin.css")" rel="stylesheet" type="text/css" />
}


<div class="admin-body">

</div> 