@page
@model CountdownAdminModel
@{
    ViewData["Title"] = "Admin - Countdown";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
@section heads{
<<<<<<< HEAD
  <link href="@Url.Content("~/css/usersite/admin/countdownadmin.css")" rel="stylesheet" type="text/css" />
=======
  <link href="@Url.Content("/css/usersite/admin/countdownadmin.css")" rel="stylesheet" type="text/css" />
>>>>>>> Serveur
}


<!----------------------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------------------->
  <div class="countdown-box">
<!-----------------------------------------AJOUT DE COUNTDOWN--------------------------------------------> 
    <div class="countdown-addnew">
      <legend class="coutndown-name">Ajouter compte à rebours</legend>

        <div class="addnew-name">
          <label class="addnew-name">Nom du compte à rebours : </label>
          <input type="text" class="addnew-name" placeholder="Ex: JPO">
        </div>

        <div class="addnew-text">
          <label class="addnew-text">Texte : </label>
          <textarea class="addnew-text" rows="5" cols="60" placeholder="Entrez votre texte"></textarea>
        </div>

        <div class="addnew-img">
          <label class="addnew-img">Image : </label>
          <input class="addnew-img" type="file" accept="image/png, image/jpeg">
        </div>

        <div class="addnew-start-date">
          <label class="addnew-start-date">Date de début : </label>
          <input class="addnew-start-date" type="date">
        </div>

        <div class="addnew-end-date">
          <label class="addnew-end-date">Date de fin : </label>
          <input class="addnew-end-date" type="date">
        </div>

        <div class="addnew-countdown-date">
          <label class="addnew-end-date">Date compteur : </label>
          <input class="addnew-end-date" type="date">
        </div>

        <div class=button>
          <button class="button-delete"> Supprimer </button>
          <button class="button-apply"> Valider </button>
        </div>
      
    </div>
<!-----------------------------------------FIN AJOUT DE COUNTDOWN--------------------------------------------> 
<!-----------------------------------------COUNTDOWN 1--------------------------------------------> 
    <div class="countdown-param">
      <legend class="coutndown-name">CAR1</legend>

        <div class="param-name">
          <label class="param-name">Nom du compte à rebours : </label>
          <input type="text" class="param-name" placeholder="Ex: JPO">
        </div>

        <div class="param-text">
          <label class="param-text">Texte : </label>
          <textarea class="param-text" rows="5" cols="60" placeholder="Entrez votre texte"></textarea>
        </div>

        <div class="param-img">
          <label class="param-img">Image : </label>
<<<<<<< HEAD
          <a href="~/images/news3.jpg" target="_blank"><img class="param-img" src="~/images/news3.jpg"> </a>
=======
          <a href="/images/news3.jpg" target="_blank"><img class="param-img" src="/images/news3.jpg"> </a>
>>>>>>> Serveur
        </div>

        <div class="param-start-date">
          <label class="param-start-date">Date de début : </label>
          <input class="param-start-date" type="date">
        </div>

        <div class="param-end-date">
          <label class="param-end-date">Date de fin : </label>
          <input class="param-end-date" type="date">
        </div>

        <div class="param-countdown-date">
          <label class="param-end-date">Date compteur : </label>
          <input class="param-end-date" type="date">
        </div>

        <div class=button>
         <button class="button-delete"> Supprimer </button>
         <button class="button-apply"> Valider </button>
        </div>
      
    </div>
<!-----------------------------------------FIN COUNTDOWN 1--------------------------------------------> 
<!-----------------------------------------COUNTDOWN 2--------------------------------------------> 
    <div class="countdown-param">
      <legend class="coutndown-name">CAR2</legend>

        <div class="param-name">
          <label class="param-name">Nom du compte à rebours : </label>
          <input type="text" class="param-name" placeholder="Ex: JPO">
        </div>

        <div class="param-text">
          <label class="param-text">Texte : </label>
          <textarea class="param-text" rows="5" cols="60" placeholder="Entrez votre texte"></textarea>
        </div>

        <div class="param-img">
          <label class="param-img">Image : </label>
<<<<<<< HEAD
          <a href="~/images/news3.jpg" target="_blank"><img class="param-img" src="~/images/news3.jpg"> </a>
=======
          <a href="/images/news3.jpg" target="_blank"><img class="param-img" src="/images/news3.jpg"> </a>
>>>>>>> Serveur
        </div>

        <div class="param-start-date">
          <label class="param-start-date">Date de début : </label>
          <input class="param-start-date" type="date">
        </div>

        <div class="param-end-date">
          <label class="param-end-date">Date de fin : </label>
          <input class="param-end-date" type="date">
        </div>

        <div class="param-countdown-date">
          <label class="param-end-date">Date compteur : </label>
          <input class="param-end-date" type="date">
        </div>

        <div class=button>
         <button class="button-delete"> Supprimer </button>
         <button class="button-apply"> Valider </button>
        </div>

    </div>
<!-----------------------------------------FIN COUNTDOWN 2--------------------------------------------> 

  </div>