@page
@model SocialnetworksAdminModel
@{
    ViewData["Title"] = "Admin - Socialnetworks";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
@section heads{
<<<<<<< HEAD
  <link href="@Url.Content("~/css/usersite/admin/socialnetworksadmin.css")" rel="stylesheet" type="text/css" />
=======
  <link href="@Url.Content("/css/usersite/admin/socialnetworksadmin.css")" rel="stylesheet" type="text/css" />
>>>>>>> Serveur
}

<!----------------------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------------------->
  <div class="socialnetworks-box">
    <div class="username-param"> 
      <label class="username-param">Nom du compte : </label>
      <input list="Compte" type="text" class="username-param" placeholder="ex:ISEN.Lille">
       <datalist id="Compte">
        <option value="ISEN.Lille"></option>
       </datalist>
    </div>

    <div class="home-param">
      <legend class="home-name">Page d'accueil</legend>

      <div class="page-param">
        <label class="page-param">Nom de page : </label>
        <input type="text" class="page-param" placeholder="ex:Accueil">
      </div>
      
      <div class="widget-param">
        <label class="widget-param">Lien widget : </label>
        <input type="text" class="widget-param" placeholder="ex:https://snapwidget.com/js/snapwidget.js">
      </div>

      <div class=button>
        <button class="button-delete"> Supprimer </button>
        <button class="button-apply"> Valider </button>
      </div>

    </div>

    <div class="home-param">
      <legend class="home-name">Page réseaux sociaux</legend>

      <div class="page-param">
        <label class="page-param">Nom de page : </label>
        <input type="text" class="page-param" placeholder="ex:Accueil">
      </div>
      
      <div class="widget-param">
        <label class="widget-param">Lien widget : </label>
        <input type="text" class="widget-param" placeholder="ex:https://snapwidget.com/js/snapwidget.js">
      </div>

      <div class=button>
        <button class="button-delete"> Supprimer </button>
        <button class="button-apply"> Valider </button>
      </div>

    </div>
<!----------------------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------------------->
