/* --------------------------------------------------------------------------------------
ADMIN PAGE  
--------------------------------------------------------------------------------------*/

.admin-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.passblock{
    background-color: rgb(85, 85, 85);
    margin: 40px;   
    padding: 10px;
    border-radius: 10px;
    max-width: 30%;
    min-width: 300px;
}

.pass{
    background-color:rgb(100, 185, 79);
    margin:10px;
    padding:50px;
    border-radius : 10px;
    text-align: center;
    font-family: Raleway-Bold, sans-serif;
    font-size: 100%;
  }
  
  .connexion{
    margin:10px;
    border-radius : 10px;
    text-align: right;
    font-family: Raleway-Bold, sans-serif;
  }
  input[type="password"] {
    background: white;
    border: 2px solid rgb(85, 85, 85);
    border-radius : 5px;
    outline: none;
}

  .password{
    text-align: center;
  }
   
  .mdp{
    margin:20px;
  }

  .bouton{
    background-color: rgb(100, 185, 79);
    border: 2px solid #333;
    border-radius : 5px;
    
    font-family: Raleway-Bold, sans-serif;
  }
  .bouton:hover {
    background-color: #333; /* Green */
    border: 2px solid rgb(100, 185, 79);
    color: white;
  }