/* --------------------------------------------------------------------------------------
COUNTDOWN PAGE  
--------------------------------------------------------------------------------------*/

.countdown-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.countdown-block{
  margin: 40px;  
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  height: auto;
}

.countdown-text{
  background-color:rgb(100, 185, 79);
  margin:10px;
  padding:50px;
  border-radius : 10px;
  text-align: center;
  font-family: Raleway-Bold, sans-serif;
  font-size: 9vw;
}
