/* --------------------------------------------------------------------------------------
LAYOUT  
--------------------------------------------------------------------------------------*/
@font-face{
  font-family: 'Raleway-Bold'; 
  src: url('/fonts/Raleway/Raleway-Bold.ttf'); 
}
@font-face{
  font-family: 'Raleway-Black'; 
  src: url('/fonts/Raleway/Raleway-Black.ttf'); 
}
@font-face{
  font-family: 'Raleway-Light'; 
  src: url('/fonts/Raleway/Raleway-Light.ttf'); 
}
@font-face{
  font-family: 'Raleway-Regular'; 
  src: url('/fonts/Raleway/Raleway-Regular.ttf'); 
}
@font-face{
  font-family: 'Raleway-SemiBold'; 
  src: url('/fonts/Raleway/Raleway-SemiBold.ttf'); 
}

html {
}
body {
  height: 100vh;
  margin: 0;
  padding:0;
  background-color: rgb(53, 50, 50);
  font-family: Raleway-Regular, sans-serif;
}


.main-body{
  display: flex;
  overflow: auto;
  height: calc(100% - 30px);
}

/* navbar */
.navbar {
  background-color: rgb(85, 85, 85);
  overflow: hidden;
  height: 30px;
  font-family: Raleway-Bold, sans-serif;
  text-transform: uppercase;
  font-size: 90%
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: rgb(95, 149, 186);
  color: white;
}